<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="The official website of smarky">
  <meta name="author" content="smarky">
  <link rel="icon" href="logo.png">

  <title>{{ page.title }}</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Ubuntu font -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <!-- Custom style -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  
  <div class="container">

    {{ content }}

  </div>

</body>
</html>
